<header id="{{ id|default('app-header') }}" class="h-16 bg-white shadow-md flex items-center justify-between px-6 shrink-0">
    <div class="flex items-center">
        <span id="header-welcome-message" class="hidden sm:inline mr-3 font-medium text-gray-700">
            Welcome!
        </span>
        <div id="header-user-initial" class="w-10 h-10 bg-checkerr-orange rounded-full flex items-center justify-center text-white font-bold">
            U
        </div>
    </div>

    <button id="logout-button" class="flex items-center gap-1 rounded-sm hover:bg-slate-300/30 px-4 py-2 text-gray-600 hover:text-red-600">
        <span>
            &#10162; 
        </span>
        Logout
    </button>
</header>